@font-face {
	font-family: "Karla", sans-serif;
	src: url(https://fonts.googleapis.com/css2?family=Karla:wght@700&display=swap);
	font-weight: 700;
}

#root {
	margin: 0;
	
}

.app {
	height: 100vh;
	display:grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 64px auto 44px;
	grid-template-areas: 
	"n n n n"
	"a c c c"
	"f f f f";
}

main {
	grid-area: c;
}

.container {
	height: 100%;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #0b2434;
}

