@font-face {
	font-family: "Karla", sans-serif;
	src: url(https://fonts.googleapis.com/css2?family=Karla:wght@700&display=swap);
	font-weight: 700;
}

#root {
	margin: 0;
}

.container {
	height: 100vh;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #0b2434;
}

